form(action='/nuevo', method = 'post')
  //label ID:
  //input(name = 'id')
  label Marca:
  input(type="text" name = 'marca' size = "10")
  label Modelo
  input(type="text" name ='modelo' size = "10")
  label Consumo L/100:
  input(type="text" name ='consumo' size = "8")
  label Potencia cv:
  input(type="texy" name = 'potencia' size = "6")
  label Precio:
  input(type="text" name ='precio' size = "5")
  input(type = 'submit', value = 'Guardar')