doctype html
html
  head
    title PostgreSQL Local
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header#header
        h1 Base datos local con postgreSQL interfaz node.js
        h4 Base de datos: coches_hibridos, tabla: hibridos
    div#flex
        nav#nav
            include partials/navigation
        section#section

            block content
            
    footer#footer
        h8 jose manso ortega
